<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Decide on the name in the tab here -->
		<title>Battleship Game</title>

		<!-- This forces the app to use Bulma CSS for styles
		        Class name is provided by Bulma, so if you're looking for a style, 
                you should search for a a Bulma classname that has the style you're looking for -->
		<!-- Use this link for official docs: https://bulma.io/documentation/helpers/ -->

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
		<link rel="stylesheet2" href="/src/index/index.css" />
		<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

		<style>
			.fadeIn {
				animation: fadeInAnimation ease 1s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
			}

			@keyframes fadeInAnimation {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			.grid-container {
				display: grid;
				grid-template-columns: auto auto auto auto;
				background-color: #2196f3;
				padding: 10px;
			}
			.grid-item {
				background-color: rgba(255, 255, 255, 0.8);
				border: 1px solid rgba(0, 0, 0, 0.8);
				padding: 10px;
				font-size: 30px;
				text-align: center;
			}
			.game-button {
				border-radius: 40px;
				background: #a5a5ff;
			}
		</style>

		<!-- Import JQuery from Google to do React-like things (like inserting html from other html files) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

		<!-- Grab the navbar content from /src/navbar/navbar.html -->
		<script>
			$(function () {
				$("#navbarContent").load("/templates/navbar.html");
			});
		</script>
	</head>

	<!----------------------------------------------- Page Content BEGINS ----------------------------------------------->
	<body>
		<!-- NavBar -->
		<div id="navbarContent"></div>

		<!-- Main Page Header -->
		<h1 class="section is-size-2-desktop is-size-3-mobile fadeIn">Opponent: MunchDaddy</h1>

		<!-- Landing Page Description -->
		<div class="section pt-1 pb-0 mx-5 fadeIn">
			<div class="container">
				<div class="columns is-vcentered">

					<!-- Left Column Starts Here (Used to Hold Grid)-->
					<div class="column is-7 is-size-5-mobile">
						<div class="grid-container">
							<div class="grid-item" onclick="">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											1
										</button>
									</div>
								</div>
							</div>
							<div class="grid-item">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											2
										</button>
									</div>
								</div>
							</div>
							<div class="grid-item">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											3
										</button>
									</div>
								</div>
							</div>
							<div class="grid-item">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											4
										</button>
									</div>
								</div>
							</div>
							<div class="grid-item">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											5
										</button>
									</div>
								</div>
							</div>
							<div class="grid-item">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											6
										</button>
									</div>
								</div>
							</div>
							<div class="grid-item">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											7
										</button>
									</div>
								</div>
							</div>
							<div class="grid-item">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											8
										</button>
									</div>
								</div>
							</div>
							<div class="grid-item">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											9
										</button>
									</div>
								</div>
							</div>
							<div class="grid-item">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											10
										</button>
									</div>
								</div>
							</div>
							<div class="grid-item">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											11
										</button>
									</div>
								</div>
							</div>
							<div class="grid-item">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											12
										</button>
									</div>
								</div>
							</div>
							<div class="grid-item">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											13
										</button>
									</div>
								</div>
							</div>
							<div class="grid-item">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											14
										</button>
									</div>
								</div>
							</div>
							<div class="grid-item">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											15
										</button>
									</div>
								</div>
							</div>
							<div class="grid-item">
								<div class="buttons is-centered">
									<div class="my-5">
										<button class="button game-button is-medium" onclick="window.location.href='/lobby/home';">
											16
										</button>
									</div>
								</div>
							</div>
						</div>

						<div class="buttons is-centered">
							<div class="my-5">
								<button
									class="button is-medium is-primary is-rounded"
									onclick="window.location.href='/auth/loginForm';"
								>
									Submit
								</button>
							</div>
						</div>
					</div>

					<!-- Right Column Starts Here (Used For Rules and Quitting)-->
					<div class="column mx-7 is-5 is-centered ">
						<h2 class="is-size-4-desktop is-size-3-mobile pb-3 fadeIn">How to Play</h2>

						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
							ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
							fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
							mollit anim id est laborum.
						</p>
						<div class="buttons is-centered">
							<div class="my-5">
								<button class="button is-medium is-danger is-rounded" onclick="window.location.href='/lobby/home';">
									Quit
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/static/game.js"></script>
	</body>
	<!------------------------------------------------ Page Content ENDS ------------------------------------------------>
</html>
