<html>
  <nav class="navbar has-shadow is-white" style="height: 85.99px">
    <div class="navbar-brand">
      <a class="navbar-item" href="/welcome">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_5nulgsrm.json" background="transparent" speed="2" style="height: 85.99px" hover></lottie-player>
      </a>
      <a class="navbar-burger" id="burger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="navbar-menu" id="nav-links">
      <div class="navbar-end">
        <a class="navbar-item" href="/home">Home</a>
        <a class="navbar-item" href="/user">My Account</a>
        <a class="navbar-item" href="/logout">Log Out</a>
      </div>
    </div>
  </nav>
  <script src="/static/navbar.js"></script>
</html>
