<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Decide on the name in the tab here -->

    <title>Battleship Game</title>

    <!-- This forces the app to use Bulma CSS for styles
		        Class name is provided by Bulma, so if you're looking for a style, 
                you should search for a a Bulma classname that has the style you're looking for -->
    <!-- Use this link for official docs: https://bulma.io/documentation/helpers/ -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet2" href="/src/index/index.css" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <style>
      .fadeIn {
        animation: fadeInAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      @keyframes fadeInAnimation {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    </style>

    <!-- Import JQuery from Google to do React-like things (like inserting html from other html files) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Grab the navbar content from /src/navbar/navbar.html -->
    <script>
      $(function () {
        $("#navbarContent").load("/templates/navbar.html");
      });
    </script>
  </head>

  <!----------------------------------------------- Page Content BEGINS ----------------------------------------------->
  <body>
    <!-- NavBar -->
    <div id="navbarContent"></div>

    <!-- Page Title -->
    <h1 class="section is-size-1-desktop is-size-3-mobile pb-3 fadeIn">Battleship</h1>

    <!-- Landing Page Description -->
    <div class="section pt-1 pb-0 mx-5 fadeIn">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5 is-size-5-desktop is-size-6-mobile is-centered">
            <br>
            <br>
            <p>
              Are you ready to play Battleship? Play against your friends or create a lobby to play against 
              anyone else looking to sink some ships.
              The first captain to sink their enemy's ship gets to claim victory and climb up the leader board.
              Play your way to the top and claim your spot as the top ship battler!
            </p>

            <br>
            <br>

            <div class="buttons is-centered">
              <div class="my-5">
                <button class="button is-medium is-primary is-rounded" onclick="window.location.href='/loginForm';">Login</button>

                <button class="button is-medium is-info is-rounded" onclick="window.location.href='/signupForm';">Signup</button>
              </div>
            </div>
          </div>

          <div class="column mx-7 is-7 is-centered">
            <img src="/images/hero.gif" alt="hero image" style="max-height: 700px" />
          </div>
        </div>
      </div>
    </div>
  </body>
  <!------------------------------------------------ Page Content ENDS ------------------------------------------------>
</html>
