<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Decide on the name in the tab here -->
		<title>Login</title>

		<!-- This forces the app to use Bulma CSS for styles
		        Class name is provided by Bulma, so if you're looking for a style, 
                you should search for a a Bulma classname that has the style you're looking for -->
		<!-- Use this link for official docs: https://bulma.io/documentation/helpers/ -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

		<style>
			.fadeIn {
				animation: fadeInAnimation ease 1s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
			}

			.test {
				background-color: red;
			}

			@keyframes fadeInAnimation {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		</style>

		<!-- Import JQuery from Google to do React-like things (like inserting html from other html files) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

		<!-- Grab the navbar content from /src/navbar/navbar.html -->
		<script>
			$(function () {
				$("#navbarContent").load("/src/navbar/navbar.html");
			});
		</script>
	</head>

	<!----------------------------------------------- Page Content BEGINS ----------------------------------------------->
	<body>
		<!-- NavBar -->
		<div id="navbarContent"></div>
		<h1 class="section is-size-1-desktop is-size-3-mobile fadeIn">Home</h1>

		<!-- Landing Page Description -->
		<div class="section pt-1 mx-1 fadeIn">
			<div class="container">
				<div class="columns is-vcentered">
					<!-- Lobbies Column -->
					<div class="section column is-7 is-size-5-desktop is-size-6-mobile">
						<!-- Row for column title and button -->
						<div class="level">
							<h2 class="is-size-2-desktop is-size-3-mobile fadeIn">Open Lobbies</h2>
							<div class="">
								<button
									class="button is-medium is-info is-rounded"
									onclick="window.location.href='/src/signup/signup.html';"
								>
									Create a Lobby
								</button>
							</div>
						</div>

						<!-- Card for an Open Lobby -->
						<div class="card">
							<div class="card-content">
								<div class="media">
									<div class="media-content">
										<p class="title is-4">{{Placeholder Name}}</p>
									</div>
								</div>
								<div class="content">
									<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
								</div>
							</div>
						</div>
					</div>

					<!-- Column for leaderboard -->
					<div class="column is-5 is-size-5-desktop is-size-6-mobile test">
						<table class="table">
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Username</th>
                                    <th>Wins</th>


                                </tr>
                            </thead>
                        </table>
					</div>
				</div>
			</div>
		</div>
	</body>

	<!------------------------------------------------ Page Content ENDS ------------------------------------------------>
</html>
